
@charset "UTF-8";

/* 장바구니 설정 */
.cart_agree_bt {
	margin-top: 60px;
}

.cart_title {
	border-top: 2px solid #000000;
	border-bottom: 1px solid #d9d9d9;
	height: 40px;
	line-height: 40px;
}

#itemCountBox_form_detail {
	display: inline-block;
	margin-left: 140px;
	border: 1px solid #ddd;
	width: 300px;
	height: 40px;
}

.itemCount_row {
	border-bottom: 1px solid #000000;
	text-align: center;
}

.cart_total {
	border-top: 2px solid #000000;
	border-bottom: 1px solid #d9d9d9;
	background: #f2f2f2;
	height: 40px;
	line-height: 40px;
}

.cart_total_1 {
	margin-left: 15px;
}

.cart_total_body {
	background: #f2f2f2;
	line-height: 50px;
}

.cart_list_body a {
	color: #000000;
}

.cart_body {
	border-bottom: 1px solid #000000;
	height: 90px;
	line-height: 90px;
}

.cart_image_clip {
	width: 120px;
	border: 1px solid #000000;
}

.maybe_cost {
	font-family: "kopub_bold";
	font-size: 18px;
	color: #c71c12;
}

.maybe_cost_text {
	font-family: "kopub_bold";
	font-size: 15px;
}

.cart_total_bottom {
	line-height: 40px;
	border-top: 1px solid #d9d9d9;
}

.cart_list_bt input {
	margin: 10px 0px 0px 5px;
}

.cart_list_bottom_hr {
	margin-top: 80px;
	border-top: 1px solid #000000;
	padding-top: 10px;
}

.value-button {
	display: inline-block;
	margin: 0px;
	width: 10%;
	height: 25px;
	text-align: center;
	background: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.value-button:hover {
	cursor: pointer;
	color: #d9d9d9
}

form .cart_decrease {
	margin-right: -6px;
	margin-left: 5%;
}

form .cart_increase {
	margin-left: -6px;
	margin-right: 5%;
	right: 0;
}

input.cart_item_count {
	text-align: center;
	border: none;
	margin: 0px 25% 0px 25%;
	width: 20%;
	height: 100%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

#cart_itemCountBox_form {
	margin-top: 30px;
	border: 1px solid #ddd;
	width: 120px;
	height: 30px;
}

/* 상품 목록 설정 */
#product_01_main_img {
	margin: 15px 0px 15px 0px;
	width: 1600px;
	height: 180px;
}

.product_01_main_title {
	font-family: "kopub_bold";
	background: #f2f2f2;
	font-size: 16px;
	height: 40px;
	vertical-align: middle;
	width: 1300px;
}

.product_01_image img {
	width: 400px;
	height: 200px;
	margin-bottom: 20px;
	margin-top: 30px;
}

.product_01_sub_title {
	margin-bottom: 30px;
	margin-top: 15px;
	height: 30px;
}

.product_01_sub_title a {
	font-size: 14px;
	background: #f2f2f2;
	border: 1px solid #000000;
	margin: 0px 40px 0px 40px;
	padding: 5px 50px 5px 50px;
	color: #000000;
}

.product_01_hr {
	border-bottom: 1px solid #d9d9d9;
}

.product_01_filter a {
	margin-right: 70px;
	color: #000000;
}

.product_01_filter a:hover {
	font-family: "kopub_bold";
}

/* 상품 상세 */
.product_02_main_img img {
	margin-top: 65px;
	margin-bottom: 30px;
	height: 300px;
	border: 1px solid #000000;
}

.product_02_sub_img img {
	margin-bottom: 20px;
	border: 1px solid #000000;
}

.product_02_sub_img_top {
	margin-top: 85px;
}

.product_02_title {
	font-family: "kopub_bold";
	font-size: 25px;
	margin-top: 50px;
}

.product_02_discript {
	font-size: 16px;
	margin-top: 10px;
}

.product_02_option {
	font-family: "kopub_bold";
	font-size: 20px;
}

.product_02_option_area {
	margin-top: 60px;
}

#itemCountBox_form {
	margin-left: 180px;
	border: 1px solid #ddd;
	width: 300px;
	height: 40px;
	margin-top: 30px;
}

.product_02_option_box {
	margin-left: 140px;
	height: 40px;
	width: 300px;
	text-align: center;
	border: 1px solid #d9d9d9;
}

.product_02_mini_category_text {
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

.product_03_mini_category_text {
	margin-top: 50px;
}

.product_02_mini_category_text a {
	color: #000;
	margin-left: 30px;
}

.product_02_mini_category_text a:hover {
	color: #000;
	font-family: "kopub_bold";
}

.product_02_item_detail_img img {
	width: 3000px;
}

.product_03_title {
	font-family: "kopub_bold";
	font-size: 25px;
	margin-top: 60px;
}

.product_detail_title_header {
	background: #d9d9d9;
	height: 40px;
	line-height: 40px;
	font-family: "kopub_bold";
	font-size: 16px;
	border-bottom: 1px solid #000000;
	margin: 35px 0px 0px 0px;
}

.product_03_title_section {
	height: 60px;
	line-height: 55px;
	font-size: 15px;
	border-bottom: 1px solid #000000;
}

.product_03_main_img {
	height: 150px;
	border: 1px solid #000000;
}

.product_03_user_img {
	height: 50px;
	border: 1px solid #000000;
}

.product_04_detail_title_header {
	background: #d9d9d9;
	height: 40px;
	line-height: 40px;
	font-family: "kopub_bold";
	font-size: 20px;
	margin: 35px 0px 20px 0px;
}

.product_04_text_title {
	font-family: "kopub_bold";
}

.product_04_text_body {
	margin-bottom: 30px;
}

.product_05_footer_button {
	margin-top: 30px;
	font-size: 18px;
}

.product_05_write_btn {
	margin: 150px 0px 10px 70px;
}

.product_05_detail_title_header {
	background: #d9d9d9;
	height: 40px;
	line-height: 40px;
	font-family: "kopub_bold";
	font-size: 16px;
	border-bottom: 1px solid #000000;
}

.product_06_text_box {
	height: 30px;
	width: 600px;
	line-height: 50px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
}

.product_06_form_box {
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
}

.product_06_form_title {
	background: #f2f2f2;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 17px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
}

.product_06_item_title {
	color: #757575;
	text-align: center;
}

.product_06_form_text_box {
	height: 200px;
}

.product_02_cart_btn {
	margin-left: 50px;
}