@charset "UTF-8";

/* MyPage */
.MyPage_side-section {
	position: fixed;
	top: 200px;
	left: 0;
	width: 500px;
	font-size: 16px;
	margin-top: 30px;
}

.MyPage_top-underline {
	border-bottom: 2px solid #000000;
}

.MyPage_padding { /* .order_01-sub-title-page 참고 <h6> 사용 */
	padding-top: 30px;
	height: 80px;
	font-size: 22px;
}

.MyPage_side-section a {
	display: block;
	line-height: 60px;
	background-color: #f2f2f2;
	color: #000;
}

.MyPage_welcome, .MyPage_solid {
	border-bottom: 2px solid #000000;
}

/* MyPage_01 start  */
.MyPage_01_subtitle a {
	color: #000000;
}

.MyPage_title {
	font-size: 25px;
	font-weight: bold;
}

.MyPage_title_02 {
	font-weight: lighter;
}

.Mypage_01_header {
	padding-top: 30px;
}

.MyPage_01_title {
	margin-top: 30px;
	font-size: 20px;
	background-color: #d9d9d9;
}

.MyPage_01_content {
	line-height: 200px;
	font-size: 15px;
	background-color: #ffffff;
}

.MyPage_01_content>a {
	color: #000;
}

/* MyPage_02 start */
.MyPage_02_hr {
	padding-top: 65px;
}

.MyPage_02 {
	font-size: 25px;
	font-weight: bold;
}

.MyPage_02_text {
	font-size: 18px;
	font-weight: normal;
	padding-top: 100px;
	padding-bottom: 100px;
}

.MyPage_02_password_box {
	width: 400px;
	height: 35px;
}

.MyPage_02_button_01 {
	display: block;
	background-color: #385723;
	font-size: 16px;
	height: 45px;
	color: #ffffff;
	margin-left: 220px;
	margin-right: 100px;
	padding-top: 10px;
}

.MyPage_02_button_02 {
	display: block;
	background-color: #767171;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
}

.MyPage_02_button_01:hover, .MyPage_02_button_02:hover {
	color: #fff;
}


/* MyPage_02_01 */
.MyPage_02_01_top {
	margin-top: 30px;
}

.MyPage_02_01_menu-left {
	background: #f2f2f2;
	height: 50px;
	padding-top: 11px;
	font-size: 15px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
	margin-left: 50px;
}

.MyPage_02_01_menu-right {
	height: 50px;
	padding-top: 7px;
	font-size: 15px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01_text-box {
	width: 500px;
	height: 35px;
	margin-left: 60px;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01-submit-box {
	width: 150px;
	height: 35px;
	margin-left: 30px;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01-year-month-day {
	margin-left: 60px;
	/*margin-right: 15px;*/
	height: 35px;
	width: 112px;
	text-align: center;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01-year-month-day-text {
	display: inline-block;
	font-size: 15px;
}

.MyPage_02_01-mobile {
	margin-left: 60px;
	margin-right: 35px;
	height: 35px;
	width: 110px;
	text-align: center;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01-mobile-02 {
	margin-right: 35px;
	margin-left: 30px;
	height: 35px;
	width: 113px;
	text-align: center;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01-submit-box-02 {
	width: 150px;
	height: 35px;
	margin-left: -5px;
	border: 1px solid #d9d9d9;
}

.MyPage_02_01_button_03 {
	display: block;
	background-color: #385723;
	font-size: 16px;
	height: 45px;
	color: #ffffff;
	padding-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
}

.MyPage_02_01_button_04 {
	display: block;
	background-color: #767171;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
	margin-right: 60px;
}

.MyPage_02_01_button_05 {
	display: block;
	background-color: #404040;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
}

/*  
.MyPage_02_01_button > a {
	display:block;
	line-height:100px;
}
*/
.MyPage_02_01_button_03:hover, .MyPage_02_01_button_04:hover,
	.MyPage_02_01_button_05:hover {
	color: #fff;
}


/* dropOut_01 start */
.DropOut_01_sub {
	display: block;
	height: 500px;
}

.DropOut_01_text {
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.DropOut_01_03_text {
	margin-top: 15px;
	margin-left: 25px;
}

.DropOut_01_02_text {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 65px;
}

.DropOut_01_04_text {
	margin-top: 65px;
	margin-left: 25px;
}

.DropOut_01_button {
	display: block;
	background-color: #767171;
	font-size: 16px;
	height: 45px;
	color: #ffffff;
	margin-left: 220px;
	margin-right: 100px;
	padding-top: 10px;
}

.DropOut_01_button_02 {
	display: block;
	background-color: #404040;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
}

.DropOut_01_button:hover, .DropOut_01_button_02:hover {
	color: #fff;
}

/* dropOut_02 start  */
.DropOut_02 {
	font-size: 25px;
}

.DropOut_02_text {
	font-size: 20px;
	display: block;
	height: 50px;
	margin-top: 100px;
}

.DropOut_02_button {
	display: block;
	background-color: #404040;
	font-size: 22px;
	color: #ffffff;
	height: 40px;
}

.DropOut_02_botton_position {
	margin-top: 100px;
}

.DropOut_02_button:hover {
	color: #fff;
}


/* MyPage_03 start */
.MyPage_03_top {
	display: block;
	margin-top: 15px;
	font-size: 18px;
}

.MyPage_03_yeer {
	border: 1px solid #d9d9d9;
	font-size: 16px;
}

.MyPage_03_month {
	border: 1px solid #d9d9d9;
	font-size: 16px;
}


.MyPage_03-submit-box {
	width: 200px;
	height: 35px;
	border: 1px solid #d9d9d9;
}

.MyPage_03_center-box {
	font-size: 16px;
	padding-top: 7px;
	margin-top: 20px;
	font-weight: bold;
	background-color: #d9d9d9;
	height: 40px;
	border-bottom: 1px solid #000000;
}

.MyPage_03_center-box-01 {
	border-bottom: 1px solid #000000;
	font-size: 16px;
	padding-top: 50px;
	height: 140px;
}

.MyPage_03-submit-box-01 {
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	border: 1px solid #d9d9d9;
	color: #ffffff;
	background-color: #404040;
	width: 110px;
	margin-top: 3px;
}

.MyPage_03-submit-box-02 {
	
	font-size: 14px;
	height: 30px;
	border: 1px solid #d9d9d9;
	color: #ffffff;
	background-color: #548235;
	width: 110px;
}

.MyPage_03_text_position{
	margin-left: 760px;
}

.MyPage_03_text_position_02{
	margin-left: 50px;
	color: #000000;
}

.MyPage_03_text_position_03 {
	margin-left: 40px;
	padding-top: 10px;
}

.MyPage_03_text_position_04 {
	margin-top: 25px;
	margin-left: 50px;
	color: #000000;
}

.MyPage_03_bottom_return_next {
	font-size: 14px;
	margin-top: 30px;
	margin-left: 450px;
}

.MyPage_03_left_text {
	display: block;
	color: #d9d9d9;
}

.MyPage_03_right_text {
	display: block;
	color: #000000;
	padding-bottom: 20px;
}

/* MyPage_04 start */

.MyPage_04_info_center {
	font-size: 16px;
	margin-left: 450px;
}

/* adminReturn_01 start */

.AdminReturn_center-box-01 {
	border-bottom: 1px solid #000000;
	font-size: 14px;
	padding-top: 15px;
	height: 120px;
}

.AdminReturn_02_top{
	margin-top: 15px;
}

.AdminReturn_02-textarea {
	resize: none;
}

.AdminReturn_02-height{
	height: 280px;
}

.AdminReturn_02-height-04{
	height: 200px;
}

.AdminReturn_02-height-01 {
	height: 260px;
	width: 700px;
	margin-left: 60px;
	border: 1px solid #d9d9d9;
}

.AdminReturn_02-height-06 {
	height: 180px;
	width: 700px;
	margin-left: 60px;
	border: 1px solid #d9d9d9;
}

.AdminReturn_02-text-box {
	width: 700px;
	height: 35px;
	margin-left: 60px;
	border: 1px solid #d9d9d9;
}

.AdminReturn_02-height-02{
	height: 90px;
}

.AdminReturn_02-bottom-button {
	display: block;
	background-color: #767171;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
	height: 50px;
	margin-left: 550px;
	
}

.AdminReturn_02-bottom-button-2 {
	display: block;
	background-color: #203864;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
	height: 50px;
	margin-left: 400px;
	
}

.AdminReturn_02-bottom-button-3 {
	display: block;
	background-color: #767171;
	font-size: 16px;
	color: #ffffff;
	padding-top: 10px;
	height: 50px;
	margin-left: 50px;
	
}


.AdminReturn_02-bottom-button:hover, .AdminReturn_02-bottom-button-2:hover,
.AdminReturn_02-bottom-button-3:hover {
	color: #fff;
}

/* AdminOrder start */
.AdminOrder_boxsize {
	width: 40px;
	height: 30px;
	font-size: 12px;
	border: none;
	padding-bottom: 2px;
	background-color: #203864;
	color: #fff;
}

.adminOrder_hov {
	color: #000000;
}


.AdminReview_01-top {
	margin-top: 92px;
}

.AdminReview_01-text-position{
	margin-left: 50px;
}

.adminReview_01-radio-box {
	margin-left: 30px;
}