@charset "UTF-8";

.notice_01_header {
	background: #d9d9d9;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 20px;
	border-bottom: 1px solid #000000;
	margin: 35px 0px 0px 0px;
}

.notice_01_section {
	height: 60px;
	line-height: 55px;
	font-size: 15px;
	border-bottom: 1px solid #000000;
}

.notice_01_line {
	font-size: 20px;
	margin: 40px 0px 0px 0px;
}

.notice_02_line02 {
	margin: 0px 0px 50px 0px;
}

.cs>a {
	color: #000;
}

.notice_01_next>a {
	color: #000;
}


.notice_02_box01 {
	background: #f2f2f2;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 17px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
}
.notice_02_box02 {
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
}

.notice_02_box03 {
	background: #f2f2f2;
	height: 300px;
	line-height: 300px;
	font-family: "kopub_bold";
	font-size: 17px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
}

.notice_02_box04 {
	height: 300px;
	line-height: 300px;
	font-size: 17px;
	border-collapse: collapse;
	border: 1px solid #d9d9d9;
}

.notice_back_btn {
	margin: 50px 0px 40px 0px;
}

.cs01-section {
	position: fixed;
	top: 200px;
	left: 0;
	width: 500px;
	font-size: 16px;
	margin-top: 48px;
}

.cs01-section a {
	display: block;
	height: 70px;
	line-height: 70px;
	background-color: #f2f2f2;
	color: #000;
}

.cs_01_subtitle {
	height: 30px;
	line-height: 30px;
	font-family: "kopub_bold";
	margin: 37px 0px 0px 0px;
	left: 35px
}

.cs_01_search-box {
	height: 0px;
	line-height: 110px;
}

.cs_01_header {
	background: #d9d9d9;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 20px;
	border-bottom: 1px solid #000000;
	margin: 25px 0px 0px 0px;
	left: 15px;
}

.cs_01_listsection {
	height: (65px, auto);
	line-height: 60px;
	font-size: 15px;
	border-bottom: 1px solid #000000;
	left: 15px;

	
}


.cs_02_writebtn {
	line-height: 30px;
	margin: 35px 0px 0px 0px;
}


.cs_02_header {
	background: #d9d9d9;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 20px;
	border-bottom: 1px solid #000000;
	margin: 25px 0px 0px 0px;
	left: 15px;
}

.cs_02_listsection {
	height: 60px;
	line-height: 55px;
	font-size: 15px;
	border-bottom: 1px solid #000000;
	left: 15px;

	
}

.cs_02_02_box01 {
	background: #f2f2f2;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 17px;
	border: 1px solid #d9d9d9;
}
.cs_02_02_box02 {
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
}

.cs_02_02_box03 {
	background: #f2f2f2;
	height: 200px;
	line-height: 200px;
	font-family: "kopub_bold";
	font-size: 17px;
	border: 1px solid #d9d9d9;
}

.cs_02_02_box04 {
	height: 200px;
	line-height: 200px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
}

.cs_02_02_row {
	margin: 0px 0px 30px 0px;
}


.cs_correct_btn{
	margin: 50px 0px 40px 0px;
	left:15px;
}
.cs_delete_btn {
	margin: 50px 0px 40px 0px;
	right:15px;


}

.cs_02_select {
	border: 1px solid #d9d9d9;
	text-align: center;
	width: 160px;
}

.cs_02_01_text-box {
	border: 1px solid #d9d9d9;
	text-align: center;
	width: 88px;
	height:51px;
}

.cs_01-check-text {
	display: inline-block;
}
.cs_02_02_ex01box02 {
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
	border-right-width : 0px;
	
}

.cs_02_02_ex02box02 {
	height: 50px;
	line-height: 50px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
	border-left-width : 0px;
	
}
.myPage_07_radio{
	margin-left: 50px;
	
}

.answer {
    display: none;
    padding-bottom: 30px;
  }
  .question {
    line-height: 50px;
	font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    text-align: left;
  }


  .cs_01_01header {
	background: #d9d9d9;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 20px;
	border-bottom: 1px solid #000000;
	left: 15px;
}

.cs_02_02header {
	background: #d9d9d9;
	height: 50px;
	line-height: 50px;
	font-family: "kopub_bold";
	font-size: 20px;
	border-bottom: 1px solid #000000;
	left: 15px;
}

.form-control {
	margin-top:8px;
	resize : none;

}
.mypage_radiobox {
	margin-left:50px;

}

#que-5-toggle {
	margin-right:30px;
}


#que-2-toggle {
	margin-right:30px;
}

#que-3-toggle {
	margin-right:30px;
}
#que-4-toggle {
	margin-right:30px;
}

#que-6-toggle {
	margin-right:30px;
}

#que-7-toggle {
	margin-right:30px;
}
#que-8-toggle {
	margin-right:30px;
}
#que-9-toggle {
	margin-right:30px;
}
#que-10-toggle {
	margin-right:30px;
}
#que-11-toggle {
	margin-right:30px;
}

.admincs_02_02_box03 {
	background: #f2f2f2;
	height: 350px;
	line-height: 300px;
	font-family: "kopub_bold";
	font-size: 17px;
	border: 1px solid #d9d9d9;
}

.admincs_02_02_box04 {
	height: 350px;
	line-height: 300px;
	font-size: 17px;
	border: 1px solid #d9d9d9;
}



.cs_02_listsection {
	font-size: 15px;
	border-bottom: 1px solid #000000;
	left: 15px;
	word-break:nowrap

	
}

.admincs_01listsection{
	font-size: 15px;
	padding-top: 19px;
	border-bottom: 1px solid #000000;
	left: 15px;
}

.admincs_01_01listsection{
	font-size: 15px;
	margin-top: 3px;
	border-bottom: 1px solid #000000;
	left: 15px;
}
.admincs_02_content-body {
/* 	margin-top: 10px;
	padding-top: 12px; */
	margin-bottom: 10px;
	border-bottom: 2px solid;
}






